@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/greeting');

@font-face {
    font-family: myCursiveFont;
    src: url(../2_Assets/fonts/LemonJelly.ttf);
}
@font-face {
    font-family: myonlineFont;
    src: url(../2_Assets/fonts/NotoSansMono-SemiBold.ttf)
}

:root {
  --background-color-light: #ffffff; /* Light mode background color */
  --background-color-dark: #000000; /* Dark mode background color */
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=============== HEADER ===============*/
header {
    position: fixed;
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Align to the left edge of the viewport */
    width: 100%; /* Occupy the full width of the viewport */
    background-color: #000;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure it stays above other content */
}

.header-container {
    display: flex;
    align-items: center;
    margin-left: 250px;
    padding: 10px;
    
}

.logo {
    height: 70px; /* Adjust the height of the logo */
    align-self : right;
    margin-right: 150px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    /*display: inline; /* Display list items inline */
    display: flex;
    margin-left: 30px;
    align-items: center;
    text-align: center;
}

.nav-links li:last-child {
    margin-right: 100px; /* Add space between list items except the last one */
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 20px;
    
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-family: Helvetica;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 30px;
  background-color: inherit;
  margin: 0;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: Helvetica;
  font-size: 20px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}

.download-btn{
    margin-left: 60px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: .5rem 1rem;
    font-size: 20px;
    text-decoration: none;
    border-radius:100px;
    font-family: Helvetica;
}

.download-btn:hover {
    background-color: rgba(105, 108, 116, 0.399);
    color: rgb(255, 255, 255);
  }

  /*
.support-btn{
    margin-left: 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: .5rem 1rem;
    font-size: 20px;
    text-decoration: none;
    border-radius:100px;
    font-family: Helvetica;
}

.support-btn:hover {
    background-color: rgba(105, 108, 116, 0.399);
    color: rgb(255, 255, 255);
  }

*/

#to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#to-top-btn:hover {
  background-color: #555;
}

/*=============== ABOUT ME ===============*/
#AboutMe{    
  margin-top: 160px;
  font-size: 50px;
  margin-left: 250px;
}

#greet{
  font-size: 50px;
  font-family: 'Greeting';
  text-align: center;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

#Profiles{
  display: flex; 
}

#profile{
    font-size: 50px;
    font-family: Helvetica Bold;
    display:inline - block;
    /*font-family: "myCursiveFont";*/
    /*"Lucida Console"*/
    height: auto; /* Adjust the height as needed */
    overflow: hidden; /* Hide content that exceeds the container's height */
    
}

/*---available button------*/

#AvailableDiv{
  display: flex; /* Use flexbox */
  width: fit-content;
  align-items: center;       
}

/* Keyframes for the pulse animation */
@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}

/* Keyframes for the colorChange animation */
@keyframes colorChange {
  0% { fill: var(--background-color-light); }
  50% { fill: #31EF2D; }
  100% { fill: var(--background-color-light); }
}

.animated-circle-pulse {
  animation: pulse .7s infinite; /* Apply the colorChange animation for 2 seconds infinitely */
}

.animated-circle {
  animation: pulse .7s infinite; /* Apply the colorChange animation for 2 seconds infinitely */
}

/*--------end available button-------*/

#AvailableNote{
  font-family: "myonlineFont";
  font-size: 23px;
  width : auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#AboutMepara{
  font-size: 23px;
  width : 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-btn{
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: .5rem 1rem;
  font-size: 20px;
  text-decoration: none;
  border-radius:100px;
  font-family: Helvetica;
  
}

.contact-btn:hover {
  background-color: rgba(89, 91, 95, 0.712);
  color: rgb(255, 255, 255);
}


.contact-icon-btn{
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: .5rem 1rem;
  text-decoration: none;
  font-family: Helvetica;
  border-top-left-radius:100px;
  border-bottom-left-radius:100px;
  margin-right: 0px;
  font-size: 20px;
  
}

.contact-icon-btn:hover{
  background-color: rgba(89, 91, 95, 0.712);
  color: rgb(255, 255, 255);
  
}

.contact-copy-btn{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #000;
  padding: .5rem .5rem;
  font-size: 20px;
  text-decoration: none;
  border-top-right-radius:100px;
  border-bottom-right-radius:100px;
  font-family: Helvetica;
  
}

.contact-copy-btn:hover{
  background-color: #5d5959;
  color: rgb(0, 0, 0);
}



/*
#Note{
  font-family: Helvetica Light;
  font-size: 25px;
  float: left;
  margin-top: 20px;
  margin-bottom: 0px;
}
*/

.hireme-btn{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: .5rem .7rem;
  font-size: 25px;
  text-decoration: none;
  /*
  border-radius:100px;
  border : 1px solid #000;*/
  font-family: Helvetica;
  margin-right: 10px;
}

.hireme-btn:hover {
  color: #265DF5;
}

.hireme-btn:hover #path2{
  fill: #265DF5;
}

#path2{
  color : white;
}



/*=============== SKILLS ===============*/

#Skills{
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center;
    align-items: center;   
    text-align: center; 

    background-color: #000000;
    height : auto;
    width : 100%;
    margin-top: 50px;
    padding: 4%;
    
    white-space: pre-line; /* Preserve line breaks */
}

#SkillsChildDiv{
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange children in a column */
    justify-content: center;
    align-items: center;   
    text-align: center; 
    background-color: #000000;
    height : auto;
    width : 100%;    
    margin : 20px;
    white-space: pre-line; /* Preserve line breaks */
}

.skills-btn{ 
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center; /* Center text horizontally */
    white-space: pre-line; /* Preserve line breaks */
    line-height: 1.5; /* Add space between lines */

    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: .5rem 1rem;
    height : 100px;
    width : 100px;
    margin-left: 20px;
    border-radius: 3px;
    font-size: auto;
    text-decoration: none;
    font-family: Helvetica;
    text-align: center;
    
}

.skills-btn:hover { 
    background-color: #828282;
    color: rgb(0, 0, 0);

}



/*=============== EXPERIENCE ===============*/

#Experience{
  background-color: #ffffff;
  width : 100%;
  padding: 3%;
  }

.WorkExp {
  background-color: #ffffff;
  /*background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);*/
  display: flex;
  
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 80%;
  margin : auto ;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 30px;
  border-radius: 25px;
  height: fit-content;
  transition: all 0.3s;
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

.blog-slider__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #000;
  padding : .7rem;
  transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 10px;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__text {
  font-family: sans-serif;
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
  margin-left: 20px;
  padding-left: 20px;
}

.blog-slider__button {
  display: inline-flex;
  background-color: #000;
  /*background-image: linear-gradient(147deg, #7fcedc 0%, #1e52ba 74%);*/
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px #2b2f35;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

/*=============== EDUCATION ===============*/


/*--------------------Education swiper ---------------------------*/

#Education{
  background-color: #000000;
  width : 100%;
  padding: 3%;
  }

.edu {
  background-color: #000000;
  /*background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);*/
  display: flex;
  
}

.edu-blog-slider {
  margin-top: 20px;
  width: fit-content;
  position: relative;
  max-width: 80%;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: fit-content;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .edu-blog-slider {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .edu-blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .edu-blog-slider {
    height: 350px;
  }
}

.edu-blog-slider__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .edu-blog-slider__item {
    flex-direction: column;
  }
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > * {
  opacity: 1;
  transform: none;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}

.edu-blog-slider__item.swiper-slide-active .edu-blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}

.edu-blog-slider__img {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;  
  text-align: center;
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  box-shadow: 4px 13px 30px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  position: relative;
  overflow: hidden;
}

.edu-blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}

.edu-blog-slider__img img {
  max-height:80%; max-width:80%; 
  object-fit: cover;
  margin: 10%;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .edu-blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .edu-blog-slider__img {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .edu-blog-slider__img {
    height: 270px;
  }
}

.edu-blog-slider__content {
  padding-right: 25px;
  
}

@media screen and (max-width: 768px) {
  .edu-blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .edu-blog-slider__content {
    padding: 0;
  }
}

.edu-blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.edu-blog-slider__code {
  color: #2b2b2e;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.edu-blog-slider__code2 {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.edu-blog-slider__code3 {
  color: #000000;
  margin-bottom: 15px;
  display: block;
  font-size: 15px;
}

.edu-blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 10px;
}

.edu-blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.edu-blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .edu-blog-slider .swiper-pagination-custom, .edu-blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
  
}

.edu-blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
  padding : .5rem
}

@media screen and (max-width: 768px) {
  .edu-blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.edu-blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 8px;
}

@media screen and (max-width: 768px) {
  .edu-blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 8px;
  }
}

.edu-blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  margin : 5px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}

.edu-blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #1e52ba;
  height: 30px;
  box-shadow: 0px 0px 20px #284a8d;
}

@media screen and (max-width: 768px) {
  .edu-blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

/*=============== CERTIFICATIONS ==================*/
#Certifications{
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center;
    align-items: center;   
    text-align: center; 

    background-color: #ffffff;
    height : auto;
    width : 100%;
    padding-bottom: 20px;
    
    
    white-space: pre-line; /* Preserve line breaks */
}

.cert-btn{ 
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center; /* Center text horizontally */
    white-space: pre-line; /* Preserve line breaks */
    line-height: 1.5; /* Add space between lines */

    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: .5rem 1rem;
    height : 100px;
    width : 80%;
    border-radius: 20px;
    margin: 1px solid #fff;
    /*margin-left: 250px;*/

    font-size: 20px;
    text-decoration: none;
    font-family: Helvetica;
    text-align: center;
    
}

.cert-btn:hover { 
    background-color: #828282;
    color: rgb(0, 0, 0);

}

/*=============== PROJECTS ==================*/
/*=============== CONTACT ME ==================*/
/*=============== FOOTER ==================*/
footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #000000;
  color: white;
  
  a {
    color: #ce3182;
    font-weight: 500;
    text-decoration: none;
  }
}