@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/greeting');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



    
/* ======================GREET===========================================*/
@font-face {
  font-family: myCursiveFont;
  src: url(./2_Assets/fonts/LemonJelly.ttf);
}

@font-face {
  font-family: greeting-font;
  src: url(./2_Assets/fonts/AudreyTatum.otf);
}

@font-face {
  font-family: greeting-font-2;
  src: url(./2_Assets/fonts/Xanthoula.ttf);
}

@font-face {
  font-family: greeting-font-3;
  src: url(./2_Assets/fonts/English\ Speakers.otf);
}

@font-face {
  font-family: name-font;
  src: url(./2_Assets/fonts/basting-brush.regular.ttf);
}

@font-face {
  font-family: name-font-2;
  src: url(./2_Assets/fonts/rockybilly.regular.ttf);
}

@font-face {
  font-family: name-font-3;
  src: url(./2_Assets/fonts/Hand\ Made.otf);
}
/*---------------------DEVEloper Profiles-------------------------------------------*/

@font-face {
  font-family: dev-profile-font;
  src: url(./2_Assets/fonts/chary___.ttf);
}

@font-face {
  font-family: dev-profile-font-2;
  src: url(./2_Assets/fonts/BACKTO1982.TTF);
}
/*---------------------INDIA-------------------------------------------*/

@font-face {
  font-family: india-font;
  src: url(./2_Assets/fonts/SAMAN___.TTF);
}

@font-face {
  font-family: india-font-2;
  src: url(./2_Assets/fonts/prakrta_.ttf);
}

@font-face {
    font-family: myonlineFont;
    src: url(./2_Assets/fonts/NotoSansMono-SemiBold.ttf)
}

:root {
  --background-color-light: #ffffff; /* Light mode background color */
  --background-color-dark: #000000; /* Dark mode background color */
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.page-background{
  min-height: 100vh;
  background-color: var(--background-color-light);
  cursor: url('./2_Assets/cursor/cursor-svgrepo-com.png'),auto;
}

/********************************/


@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

/*
#blob {
  background-color: black;
  height: 34vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(127, 255, 238), #06038D);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index:-1;
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top:0px;
  left:0px;
  backdrop-filter: blur(20vmax);
  z-index:-1;
}*/

/********************************/
.section-title{
  font-style: 'Helvetica Light'; 
  color: rgb(255, 255, 255); 
  font-size: 3.5vw;
}

.section-title-black{
  font-style: 'Helvetica Light'; 
  color: rgb(0, 0, 0); 
  font-size: 3.5vw;
}
/*=============== HEADER ===============*/
.sd-logo {
  height: 70px; /* Adjust the height of the logo */
  width: fit-content;
  margin-right: 10%
}

.sd-logo2 {
  height: 70px; /* Adjust the height of the logo */
  width: fit-content;
  margin-right: 10%
}


nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000000;
  box-shadow: 0px 0px 100px 0px #797777;
  z-index: 10;
}
nav .navbar{
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 1.4vw;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
  }
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  font-family: Helvetica;
  white-space: nowrap;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
transform: rotate(180deg);
}


.navbar .search-box{
  position: relative;
  height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
.download-btn{
  display: block;
  
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: .5rem 1rem;
  font-size: 1.2vw;
  text-decoration: none;
  border-radius:100px;
  font-family: Helvetica;
  width : fit-content;
}

.download-btn:hover {
  background-color: rgba(105, 108, 116, 0.399);
  color: rgb(255, 255, 255);
}



/*=============== Scroll To Top Button  ===============*/


#to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
}

#to-top-btn:hover {
  background-color: #555;
}
/*==============Header side nav mobile==========*/

/*=============== ABOUT ME ===============*/

#main-content {
  text-align: center;
}

#about-me-section{    
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  display: inline-block;
  width : 85%;
  text-align: center;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 4s;        /* Change to speed up or slow down */
  animation-iteration-count: 1;/* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

#greet{
  font-size: 3vw; /*4vw*/
  font-family: 'greeting-font-3';
  font-weight: bold;
}

.name{
  font-family: 'name-font-3';
  font-size: 6vw;
  /*border : 0.2vw solid #000;
  padding : 0% 3%;*/
}

#profile-section{
  display: grid; 
  justify-content: center;
  font-size: 3.5vw;
}

#profile{ 
  display: flex;
    font-size: 5vw;
    font-family: dev-profile-font;
    justify-self: center;
   text-align: center;
   align-items: center;
    /*font-family: "myCursiveFont";*/
    /*"Lucida Console"*/
    height: 5vw; /* Adjust the height as needed */
    overflow: hidden; /* Hide content that exceeds the container's height */   
}

/*#profile b{
  font-family: dev-profile-font-2;
  font-size: 2.3vw;;
  justify-self: center;
  text-align: center;
  align-items: center;
}*/

.based-in-text{
  display: flex;
  font-size: 2.5vw;
  align-items: center;
  justify-content: center;
  margin-top: 1%
  
}

.india-text{
  font-family: india-font;
  font-size: 2.5vw;
  background: -webkit-linear-gradient(#FF671F, #d6d6d6, green );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#india-flag-icon{
  height: 2.5vw;
}
/*---available button------*/

#available-div{
  display: flex; /* Use flexbox */
  flex-direction: column; 
  justify-content:center; 
  align-items: center; 
  text-align : center; 
}

.available-for-hire-div{
  display:flex; 
  justify-content:center; 
  align-items: center; 
  text-align : center;
  padding: .5% 3%;    
  border:1px solid #31EF2D;
  background-color: #b5eeb4a4;
  border-radius: 5vw;
  margin-top: .5%;
  animation: pulse 1s infinite;;
  
}

#animated-online-icon{
  height : 1vw;
  width : 1vw;
}

#available-note{
  font-family: "myonlineFont";
  color :#2b802a;
  font-size: 1vw;
}

/* Keyframes for the pulse animation */
@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}


.animated-circle {
  animation: pulse 1s infinite; /* Apply the colorChange animation for 2 seconds infinitely */
}


.contact-div{
width: 100%; 
margin-top:10px; 
margin-left:50px; 
font-size:50px;
}
/*--------end available button-------*/

#about-me-para{
  font-size: 1.3vw;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:center;
}

.contact-btn{
  color: rgb(18, 92, 219);
  padding: 1%;
  font-size: 2vw;
  text-decoration: none;
  font-family: Helvetica;
  
}

.contact-btn:hover {
  color: #000;
}

.contact-btn:hover .fiverr #path2 {
  fill: #000;
}

.contact-btn:hover .freelancer #path2 {
  fill: #000;
}


/*
#Note{
  font-family: Helvetica Light;
  font-size: 25px;
  float: left;
  margin-top: 20px;
  margin-bottom: 0px;
}
*/

.project-btn{
  color: rgb(0, 0, 0);
  padding: .5rem .7rem;
  font-size: 2vw;
  text-decoration: none;
  /*
  border-radius:100px;
  border : 1px solid #000;*/
  font-family: Helvetica;
  margin-right: 10px;

}

.project-btn:hover {
  color: #265DF5;
}

.project-btn:hover #path2{
  fill: #265DF5;
}

#path2{
  color : white;
}

.main-content-bottom-design
{
  bottom: 0;
  left: 0;
  width: 100%;
  height:fit-content ;
  overflow: hidden;
  line-height: 0;
} 


/*=============== SKILLS ===============*/

#skills-section{
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center;
    align-items: center;   
    background-color: #000;
    height : auto;
    padding: 0% 4% 4% 4%;
}

#skills-logos{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  gap: 30px 10px;   
  justify-content: center;
  align-items: center;  
}


/*
#skills-logos{
    display: grid; /* Use flexbox */
    /*grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
    gap : 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #000000;
    width : 100%;        
}*/

.skills-btn{ 
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    gap : 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1%;
    height : 7vw;
    width : 7vw;
    margin-left: 20px;
    border-radius: 3px;
    font-size:1.2vw;    
    text-decoration: none;
    font-family: Helvetica;

  
}

.skills-btn text{ 
  margin-top: 5px;
}

#android-studio-text{
  font-size: .79vw;
}
  .skills-section-bottom-design {
    top: 0;
    left: 0;
    width: 100%;
    height:fit-content;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.skills-section-bottom-design svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height:5vw;
}

.skills-section-bottom-design .shape-fill {
    fill: #000000;
    margin-top: 10%;
}

/*=============== EXPERIENCE ===============*/

#experience-section{
  width : 100%;
  padding: 3% ;
  }

.slides {
  /*background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);*/
  display: flex;
  flex-direction: column;
  gap: 2vw;  
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 80%;
  margin : auto ;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 3%;
  border-radius: 2vw;
  height: fit-content;
  transition: all 0.3s;
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

.blog-slider__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  flex-shrink: 0;
  height: fit-content;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #fff;
  padding : .7rem;
  transform: translateX(-80px) translateY(-80px);;
  overflow: hidden;
}

.blog-slider__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2vw;
  font-family: sans-serif;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 10px;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__text {
  font-family: sans-serif;
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
  margin-left: 20px;
  padding-left: 20px;
}

.blog-slider__button {
  display: inline-flex;
  background-color: #000;
  /*background-image: linear-gradient(147deg, #7fcedc 0%, #1e52ba 74%);*/
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px #737578;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.blog-slider__button:hover { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  /* Lowering the shadow */ 
} 

.experience-section-bottom-design {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.experience-section-bottom-design svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
}

.experience-section-bottom-design .shape-fill {
  fill: #000000;
}


/*=============== EDUCATION ===============*/


#education-section{
  background-color: #000;
  padding : 5%
}

.edu-slides {
  background-color: #000000;
  /*background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);*/
  display: flex;
  flex-direction: column;
  gap: 50px;  
}

.edu-blog-slider {
  width: 95%;
  position: relative;
  max-width: 80%;
  margin : auto ;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 30px;
  border-radius: 25px;
  height: fit-content;
  transition: all 0.3s;
}

.edu-blog-slider__item {
  display: flex;
  align-items: center;
}

.edu-blog-slider__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 8vw;
  flex-shrink: 0;
  height: 8vw;
  border-radius: 1vw;
  background-color: #ffffff;
  padding : .7rem;
  transform: translate(-50px);
  overflow: hidden;
  box-shadow: 0px 5px 20px #2b2f35;
}

.edu-blog-slider__img img {
  height : 100%;
  width : 100%;
}

.edu-blog-slider__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 10px;
}

.edu-blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.education-section-bottom-design {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.education-section-bottom-design svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 41px;
  transform: rotateY(180deg);
}

.education-section-bottom-design .shape-fill {
  fill: #000000;

}

/*=============== CERTIFICATIONS ==================*/
#certification-section{
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center;
    align-items: center;   
    text-align: center; 
    height : auto;
    width : 100%;
    padding-bottom: 20px;
    white-space: pre-line; /* Preserve line breaks */
}


.certifications-icons{
  display:flex;
  flex-direction: row;
  gap : 30px;
  color :rgb(18, 92, 219)
}

.certifications-icons a{
  font-size: 3vw;
}

.certifications-icons a svg{
  width : 3vw ;
  height : 3vw;
} 
/*=============== PROJECTS ==================*/

#project-section{
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children in a column */
  justify-content: center;
  align-items: center;   
  text-align: center; 

  background-color: #000000;
  height : auto;
  width : 100%;
  padding-bottom: 20px;
  
  
  white-space: pre-line; /* Preserve line breaks */
}

.project-section-bottom-design {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.project-section-bottom-design svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
}

.project-section-bottom-design .shape-fill {
  fill: #000000;
}

.my-project-icons{
  display:flex; 
  flex-direction : row; 
  justify-content : space-evenly; 
  align-items : center;
  gap: 2vw;
  margin-bottom: 2vw;
  width:fit-content;
  height:fit-content;
}

.my-project-btn{
  color: rgb(255, 255, 255);
  font-size: 2.5vw;
  text-decoration: none;
  /*
  border-radius:100px;
  border : 1px solid #000;*/
  font-family: Helvetica;
}

.my-project-btn:hover {
  color: #265DF5;
}
/*=============== CONTACT ME ==================*/

#contact-me-section{
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children in a column */
  text-align: center; 
  justify-content: center;
  align-items: center;
  height : auto;
  width : 100%;
  
  margin-bottom: 0%;
  white-space: pre-line; /* Preserve line breaks */
}

.contact-me-icons{
  display:flex; 
  flex-direction : row; 
  justify-content : center; 
  align-items : center;
  gap: 1vw;
  margin-bottom: 2vw;
  width:fit-content;
  height:3vw;
}

.contact-me-btn{
  color: rgb(18, 92, 219);
  font-size: 2vw;
  text-decoration: none;
  font-family: Helvetica;  
  width:fit-content;
  height:fit-content;
}

.contact-me-btn:hover{
  color: rgb(0, 0, 0);
  padding: 1%;
  font-size: 2.5vw;
  text-decoration: none;
  font-family: Helvetica;  
}

.contact-me-btn svg{
  width: 2vw;
  fill : rgb(18, 92, 219); 
}

.contact-me-btn:hover svg #path2 {
  fill:#000000;
  font-size: 2.5vw;
}
.form{
  display: flex;
  width : 30%;
  background-color :rgb(18, 92, 219);
  border-radius: 1vw;
  box-shadow: -20px 30px 10px rgba(0, 0, 0, 0.528);
  height : fit-content;
  padding : 1% 3%;
}

.form form{
  width : 100%;
}

.form form label{
  display: block;
  text-align: left;
  font-family: "Helvetica";
  color: #e8e6d1;
  font-weight: bold;
  line-height: 150%;
  font-size: 1.3vw;
}

.form input{
  border-radius: .5vw;
  outline: none;
  border: 0;
  width : 100% ;
  font-size: 1.3vw;
  padding : 2%;
  background-color: #fff;
  margin-bottom: 4%;
}
.form input:focus{
  background: #fff;
	box-shadow: 0;
	border: 3px solid #4734db;
	color: #000000;
	outline: none;
  padding: 1vw 1vw 1vw 2vw;
}




.form textarea{
  outline: none;
  border: 0;
  width : 100% ;
  font-size: 1vw;
  padding : 2%;
  height : 10vw;
  background-color: #ffffff;

}

.form textarea:focus{
  background: #fff;
	box-shadow: 0;
	border: 3px solid #4734db;
	color: #000000;
	outline: none;
  border: 0;
}

.send-btn{
  border : 0;
  outline : none;
  margin-top: 5%;
  padding : 3% 10%;
  font-size: 1.2vw;
  color: #ffffff;
  font-family: "Helvetica";
  background-color : #000000;
  border-radius: 1vw;
  border-color: none;
}



.send-btn:hover { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 3px 2px 20px 1px #545252; 
  /* Lowering the shadow */ 
} 

/*=============== FOOTER ==================*/
footer {
  padding: 1% 5% 1% 0%;
  text-align:center;
  background-color: #000000;
  color: white;
  margin : 0px;
  
  a {
    color: #ce3182;
    font-weight: 500;
    text-decoration: none;
  }
}




/*---*/

