@media screen and (max-width: 800px) {
    header.big-screen {
      display: none;
    }

    #main-content{
        display : block;
    }
    #AboutMe{
        display : inline-block;
        font-size:large;
        margin-left: 5%;
        margin-top: 10%;
        width : 360px
    }
   

    #greet{
        font-size:large;
    }

    #profile{
        font-size: large;
    }

    #AvailableNote{
        font-size: 10px;
    }

    #AboutMepara{
        
        font-size: 8px;
        width : 80%;
    }

    .contact-btn{
        font-size: x-small;
        padding: .5rem
    }

    .contact-icon-btn{
        font-size: x-small;
        padding: .4rem
    }

    .contact-copy-btn{
        font-size: x-small;
        padding: .4rem
    }
    #Skills{
        width : 100%;
    }

    #SkillsChildDiv{
        width : 100%;
    }
  }
